<div class="container">
  <h1>Welcome To Craig's List</h1>
  <p>Categories</p>

  <ul>
    <% @categories.each do |category| %>
      <li><a href=<%= "/categories/#{category.id}" %> ><%= category.name %></a></li>
    <% end %>  
  </ul>
</div>
