<form action="/posts">
  <input name="title"></input>
  <input name="description"></input>
  <input name="email"></input>
  <input name="price"></input>
  <input name="category_id"></input>

</form>

